/* ==================Common styles================ */
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}

img {
    display: block;
}

.list 
{
    list-style-type: none;
}

.link {
    text-decoration: none;
 }

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
 }   


body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    width: 320px;
}
/* ==================Common styles================ */


/* ==============Header mobile styles=========== */

.menu {
    display: none;
}

.address {
    display: none;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    padding-top: 16px;
    padding-bottom: 16px;
    background:#FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo { 
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    
    }
 
span {
    color: #2e2f42;
    font-family: inherit;
}
.button-burger {
    border: none;
    background-color: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
}
.button-icon-burger {
    fill: #2F2F37;
}

@media screen and (min-width: 480px) {
    .container {
        width: 352px;
        margin-left: auto;
        margin-right: auto;
    }
}






/* ==============Header mobile styles=========== */
/* ==============Header tablet styles=========== */

@media screen and (min-width: 768px) {
    
    .container {
        width: 768px;      
    }

    .page-header {
        padding: 0;
    }

    .button-burger {
        display: none;
    }

    .menu {
    display: flex;
    gap: 40px;
    }

    .logo {
    margin-right: 120px;
    }
  
    .address {
        display: flex;
        font-style: normal;
        flex-direction: column;
    }

   
    .page-nav {
        display: flex;
        align-items: center;
    }

    .menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:#2E2F42;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: #404BBF;
        
    }
    
    .underline::after {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    .underline  {
        color: #404BBF;
    }
    .address-menu {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .address-menu-link {
       font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;  
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
    
    .address-menu-link:hover,
    .address-menu-link:focus {
        color: #404BBF;
        
    }
}
/* ==============Header tablet styles=========== */

/* ==============Header desktop styles=========== */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
    }

    .address-menu {
        display: flex;
        gap: 40px;
        padding: 24px 0;
    }
    .address-menu-link {
        font-size: 16px;
        line-height: 1.5; 
        letter-spacing: 0.02em;
    }
    
    .logo {
        margin-right: 76px;
        }
  
}

/* ==============Header desktop styles=========== */

/* ==============Hero mobile styles=========== */

.hero {
    background-color:#2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url("../images/hero/bg-hero-mobile.jpg");
    background-size: cover;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    }

    .main-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff; 
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        width: 168px;
        text-transform: capitalize;
        }
        
    .order-service-btn {  
           
            font-size: 16px;
            font-weight: 500;
            line-height: 1.50;
            letter-spacing: 0.04em;
            background-color: #4D5AE5;
            color:  #FFFFFF; 
            align-items: center;
            margin: 0 auto;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            
    .order-service-btn:hover,
    .order-service-btn:focus {
            background-color: #404BBF;
            color:  #FFFFFF;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url("../images/hero/bg-hero-mobile@2x.jpg");
         }
}


/* ==============Hero mobile styles=========== */

/* ==============Hero tablet styles=========== */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;      
    }

    .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url("../images/hero/bg-hero-tablet.jpg");
    max-width: 768px;  
}

.main-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07; 
}
 
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero {
    background-image:  linear-gradient(rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)), 
        url('../images/hero/bg-hero-tablet@2x.jpg');
  }
}



/* ==============Hero tablet styles=========== */

/* ==============Hero desktop styles=========== */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
    }
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url("../images/hero/bg-hero-desktop.jpg");
    max-width: 1158px;  
}

.main-title {
    width: 496px;

}

}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)), 
         url('../images/hero/bg-hero-desktop@2x.jpg');
  }
}


/* ==============Hero desktop styles=========== */

/* ==============Benefits mobile styles=========== */
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
    
    }

.icon-benefits-container {
    display: none;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.benefits-list-item {
    width: 288px;
    margin: 0 auto;
    
   
}
.benefits-list-title {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.benefits-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;

}


/* ==============Benefits mobile styles=========== */

/* ==============Benefits tablet styles=========== */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
       }

    .benefits-list {
        display: flex;
        flex-direction: inherit;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 72px;
       
        
    }
  
   
    .benefits-list-item {
       
        align-items: start;
        max-width: 356px;
        margin: 0;
        width: calc((100% - 24px) / 2);
        
    }
}






/* ==============Benefits desktop styles=========== */
    
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
    }


    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .benefits-list {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
       
    }
    
    .benefits-list-item {
        width: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }
    
    .icon-benefits-container {
        display: flex;
        justify-content: center;  
        border-radius: 4px; 
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        align-items: center;
        background:#F4F4FD;
        height: 112px;   
        width: 100%;
    }
    
    .benefits-list-icon {
        margin: 24px 0;
    }
    
    .benefits-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        width: 264px;
        margin-bottom: 8px;
    }
    
    .benefits-list-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        color: #434455;
    }
}
/* ==============Benefits desktop styles=========== */

/* ==============Team mobile styles=========== */
 

    .team {
        background-color: #F4F4FD;
        background-size: 100%;
        padding: 96px 12px;
        margin: 0 auto;
   
    }
    
    .team-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
        padding: 0 auto;
    }

    .team-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
   
    
    .team-list-item {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        width: 264px;
        height: 428px;
        margin: 0 auto; 
        
    }
    
    .team-card-content {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    
    .team-list-fullname {    
        font-size: 20px;
        font-weight: 500;
        line-height: 1.20;
        letter-spacing: 0.02em; 
        color: #2E2F42;
        text-align: center;
        margin-bottom: 8px;
    }
    
    .team-list-position {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
        margin-bottom: 8px;
    }
    
    .icon-social-networks {
        display: flex;
        justify-content: center; 
        gap: 24px;
    }
    
    .icon-social-networks-items {    
        width: 40px;
        height: 40px;
            
    }
    
    .icon-social-networks-link {
        width: 100%;
        height: 100%;
        background-color:#4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    .icon-svg {
        fill: #f4f4fd;
    }
    
    
    
    .icon-social-networks-link:hover,
    .icon-social-networks-link:focus {
        background-color: #404bbf;
    }
/* ==============Team mobile styles=========== */

/* ==============Team tablet styles=========== */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
       }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: inherit;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
        row-gap: 64px;
             
    }   

.team-list-item {
    margin:0;
    padding: 0;
    /* width: calc((100% - 24px) / 2); */
  
}
}

/* ==============Team tablet styles=========== */

/* ==============Team desktop styles=========== */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }


.team-list-item {
    width: calc((100% - 72px) / 4);
}
}
/* ==============Team desktop styles=========== */

/* ==============Portfolio mobile styles=========== */
.portfolio {
    padding: 96px 0;
    
}
.portfolio-list {
   display: flex;
    flex-direction: column;
    gap: 48px; 
}


.portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}

.portfolio-list-product {
font-size: 20px;
font-weight: 500;
line-height: 1.20; 
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.portfolio-list-service {
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: #434455;


}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


.portfolio-list-img {
    max-width: 100%;
    height: auto;
    
}

.portfolio-list-item {
   width: 288px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateY(0%);
}

.overlay-wrap {
    position: relative; 
       overflow: hidden; 
   }
   
   .overlay-text {
       position: absolute;
       font-size: 16px;
       font-weight: 400;
       line-height: 1.5;
       letter-spacing: 0.02em;
       padding: 40px 32px;
       top: 0;
       left: 0;
       background-color:#4D5AE5;
       color: #F4F4FD;
       overflow: auto;
       height: 100%;
       transform: translateY(100%);
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   
   .portfolio-list-item:hover .overlay-text {
   transform: translateY(0%);
   }
   
  
   


/* ==============Portfolio mobile styles=========== */

/* ==============Portfolio tablet styles=========== */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
       }
.portfolio-list-item {
    width: 356px;
    height: 420px;
    width: calc((100% - 24px) / 2);
    margin: 0;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
        
}   
.portfolio-list-img {
    width: 356px;
    height: 300px;
}


}
/* ==============Portfolio tablet styles=========== */

/* ==============Portfolio desktop styles=========== */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .portfolio-list {
        
        row-gap: 48px;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3); 
          transform: translateY(0%);
      }
           
       .portfolio-list-item:hover {
           box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
       }

       .portfolio-list-img {
        width: 360px;
        
    } 

}

/* ==============Portfolio desktop styles=========== */


/* ==============Footer mobile styles=========== */
.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
    
    }
.page-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
}
   



   .page-footer-logo-text {
    margin-bottom: 72px;
   width: 288px;
  }
    
  
  .page-footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: block;
   text-align: center;
  
   
  }
  
  .footer-logo-span {
  color: #f4f4fd;
  }
  
  
  
  .page-footer-icon-title {
      color:#FFFFFF;          
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
      text-align: center;
  }
  
  .page-footer-icon-list {
      display: flex;
      gap: 16px;
      justify-content: center; 
  }
  
  .page-footer-icon-items {
      width: 40px;
      height: 40px;
      
  }
  
  .page-footer-icon-link {
      display: flex;
      justify-content: center;
      border: #4D5AE5;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: #4D5AE5;
      fill: #F4F4FD;
      align-items: center;
     
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .page-footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.50; 
  letter-spacing: 0.02em;
  color: #F4F4FD;
  width: 100%; 
  
  }
  
  .footer-icon {
      fill: #f4f4fd;
  }
  
  .page-footer-icon-link:hover, 
  .page-footer-icon-link:focus {
      background-color: #31D0AA;
      
  }
  .page-footer-icon {
    margin-bottom: 72px;
  }
  
  
  .footer-form-subscribe-title {
      color:#FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  display: block;
    text-align: center;
    margin-bottom: 16px;
  }
  

  .footer-form-email {
      color:#FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  
  padding-left: 16px;
  width: 288px;
  flex-shrink: 0;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-bottom: 16px;
  }
  
  .footer-form-email::placeholder {
      color:#FFFFFF;
  }
  
  .footer-form-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
  font-family: "Roboto", sans-serif;
  height: 40px;
  min-width: 165px;
  border-radius: 4px;
  background-color:#4D5AE5;
  border: none;
  cursor: pointer;
  color:#FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0 auto;
  }
  
  
  .footer-form-icon {
  fill:#FFFFFF;
  
  
  }
  
  
/* ==============Footer mobile styles=========== */

/* ==============Footer tablet styles=========== */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
       }
       
.page-footer-icon-title {
   text-align: start;
}

.page-footer-logo-text {
     margin-right: 24px;
   
}
.page-footer-text {
   width: 264px; 
}
 
.footer-form-subscribe-title {
    text-align: start;
}

.footer-form {
  
    display: flex;
  
   }

.page-footer-logo {
    text-align: start;
}

.page-footer-container {
    justify-content: start;
    padding-left: 108px;
}   

.footer-form-email {
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
   }

.footer-form-button {
    margin: 0;
   }
}
/* ==============Footer tablet styles=========== */

/* ==============Footer desktop styles=========== */
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .page-footer-container {
        justify-content: start;
        padding-left: 0;
    }

    .page-footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
        
        }
      
    .page-footer .container{
          display: flex;
          align-items: baseline;
        
      }
      
    .page-footer-logo-text {
          margin-right: 120px;
      }

    .page-footer-icon-link:hover, 
    .page-footer-icon-link:focus {
          background-color: #31D0AA;
          
      }
    .page-footer-form {
            margin-left: auto;

}
.page-footer-div {
    margin-bottom: 0;
}
.page-footer-icon {
    margin: 0;
}

.footer-form-button:focus,
.footer-form-button:hover {
    background-color: #404BBF;
}






}
/* ==============Footer desktop styles=========== */


/* ==============Mobile menu styles=========== */

@media screen and (max-width: 767px) {

  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-menu.is-open {
    transform: translateX(0%);
  
}

.mobile-menu-container {
    position: relative;
    width: 320px;
    padding: 72px 16px 40px 16px;


}

.mobile-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    line-height: 0;
    position: absolute;
    background-color: #E7E9FC;
    padding: 0;
    top: 24px;
    right: 24px;
     margin-bottom: 24;
    border-radius: 50%;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.10);
}

    
/* .mobile-menu-button:hover,
.mobile-menu-button:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
} */

.mobile-menu-close-button {
    fill: #2E2F42;
}
.mobile-menu-link {
   color: #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize; 

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .mobile-menu-link:hover, */

.mobile-menu-link:focus {
    color: #404BBF;
    
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
   
}
.mobile-menu-address-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px; 
}
.mobile-menu-address-menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:#434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}

.mobile-menu-address {
    font-style: normal;
}


.mobile-icon-social-networks {
    display: flex;
    justify-content: start; 
    gap: 40px;
}

.icon-social-networks-items {    
    width: 40px;
    height: 40px;
        
}

.icon-social-networks-link {
    width: 100%;
    height: 100%;
    background-color:#4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.icon-svg {
    fill: #f4f4fd;
}



/* .icon-social-networks-link:hover, */

.icon-social-networks-link:focus {
    background-color: #404bbf;
}
}



@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }  
}
/* ==============Mobile menu styles=========== */

/* ==============Backdrop mobile styles=========== */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99999999999;

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    border-radius: 4px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* svg */
.backdrop-close-button {      
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   

}

/* button */
.modal-close-button {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    fill:#2E2F42; 
    background-color: #E7E9FC;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.modal-close-button:hover,
.modal-close-button:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}


/* ------------- Form ----------- */

.backdrop-text {
    color:#2E2F42;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
margin-bottom: 16px;


}

.backdrop-form-label {
    display: block;
    color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.backdrop-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;


}

.backdrop-form-input:focus {
border-color: #4D5AE5;
outline-offset: 4px;
outline-color: transparent;
} 
.backdrop-form-input:focus + .backdrop-form-icon {
    fill: #4D5AE5;
}

.backdrop-form-field {
    margin-bottom: 8px;
    
}

.backdrop-form-svg {
position: relative;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form-icon {
   fill: #2E2F42;
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.backdrop-form-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    padding: 8px 16px;

    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form-textarea::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.backdrop-form-textarea:focus {
    border-color: #4D5AE5;
    outline-offset: 4px;
    outline-color: transparent; 
}
.backdrop-form-field-textarea {
    margin-bottom: 16px;
}

.backdrop-form-checkbox {
    margin-bottom: 24px;
    
    
}


.backdrop-form-checkbox-span {
    display: inline-flex;
    min-width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.backdrop-form-checkbox-input:checked + 
.backdrop-form-checkbox-label .backdrop-form-checkbox-span {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.backdrop-form-checkbox-input:focus + 
.backdrop-form-checkbox-label .backdrop-form-checkbox-span {
    outline: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.backdrop-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    display: flex;
    
    
}

.privacy-policy-span {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.privacy-policy-span-text {
    width: 231px;
}

.privacy-policy {
  color: #4D5AE5;  
 
}

.backdrop-form-button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color:#FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop-form-button:hover,
.backdrop-form-button:focus {
    background-color: #404BBF;
}

/* ==============Backdrop mobile styles=========== */

/* ==============Backdrop tablet+ desktop styles=========== */

@media screen and (min-width: 768px), (min-width: 1158px) {

.modal {
    width: 408px;
    max-height: 584px;
}

.privacy-policy-span {
    display: flex;
    flex-direction: row;
column-gap: 5px;
}


}


    

/* ==============Backdrop tablet + desktop styles=========== */

