/* ==================Common styles================ */
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}

img {
    display: block;
}

.list 
{
    list-style-type: none;
}

.link {
    text-decoration: none;
 }

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
 }   


body {
font-family: 'Roboto', sans-serif;
background-color: #FFFFFF;
color: #434455;
}
.container {
    padding-left: 16px;
    padding-right: 16px;
}
/* ==================Common styles================ */


/* ==============Header mobile styles=========== */

.menu {
    display: none;
}

.address {
    display: none;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
background:#FFFFFF;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}
.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo { 
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    
    }
 
span {
    color: #2e2f42;
    font-family: inherit;
}


/* ==============Header mobile styles=========== */

/* @media screen and (max-width: 767px) {
    .button-burger {
    border: none;
    background-color: none;
    padding: 0;
    line-height: 0;
}

.button-icon-burger {
    fill: #2F2F37;
}

.mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
transform: translateX(0%);
}



.mobile-menu-container {
    position: relative;
}

.mobile-menu-button {
    border: none;
    background-color: #E7E9FC;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    
    border-radius: 50%;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.mobile-menu-button:hover,
.mobile-menu-button:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.mobile-menu-close-button {
    fill: #2E2F42;
}
.mobile-menu-link {
   color: #2E2F42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize; 
padding: 40px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404BBF;
    
}

}
 */




@media screen and (min-width: 480px) {
    .container {
        width: 352px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ==============Header mobile styles=========== */
@media screen and (min-width: 768px) {
    .container {
        width: 736px;
        
    }
}

/* ==============Header tablet styles=========== */
.menu {
    display: flex;
    column-gap: 40px;
  }

/* ==============Header tablet styles=========== */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
    }
}


/* ==============Header desktop styles=========== */
/* ==============Header desktop styles=========== */







/* ==============Hero mobile styles=========== */
/* ==============Hero mobile styles=========== */

/* ==============Hero tablet styles=========== */
/* ==============Hero tablet styles=========== */

/* ==============Hero desktop styles=========== */
/* ==============Hero desktop styles=========== */

/* ==============Benefits mobile styles=========== */
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
    
    }
/* .benefits-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    min-width: 320px;
    max-width: 1158px;
    margin: 0 auto;
} */
.icon-benefits-container {
    display: none;
}


.benefits-list-item {
    display: flex;
    width: 288px;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    margin-bottom: 72px; 
}
.benefits-list-title {
    color:#2E2F42;
   font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;

}

.benefits-list-text {
    color: #434455;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}


/* ==============Benefits mobile styles=========== */

/* ==============Benefits tablet styles=========== */
@media screen and (min-width: 768px) {
    .container {
        width: 736px;
       }

    .benefits-list {
        display: flex;
        column-gap: 24px;
        flex-wrap: wrap;
        /* row-gap: 72px; */
        
    }
  
    .benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .benefits-list-item {
        align-items: start;
        width: 356px;
       
    }
}


/* ==============Benefits tablet styles=========== */

/* ==============Benefits desktop styles=========== */
    
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
    }


    .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
    }
    
    .benefits-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
       
    }
    
    .benefits-list-item {
    width: calc((100% - 72px) / 4);
    }
    
    .icon-benefits-container {
    display: flex;
     justify-content: center;  
    border-radius: 4px; 
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    align-items: center;
    background:#F4F4FD;
    height: 112px;   
    }
    
    .benefits-list-icon {
        margin: 24px 0;
    }
    
    .benefits-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: 264px;
    margin-bottom: 8px;
    }
    
    .benefits-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    }
}
/* ==============Benefits desktop styles=========== */